@keyframes make-bigger {
  0% {
    background-color: red;
    transform: rotate(-90deg);
  }
  50% {
    background-color: yellow;
    transform: rotate(90deg);
  }
  100% {
    background-color: blue;
    color: $white;
    transform: scale(3.7);
  }
}

.btn {
  background-color: $lightblue;
  color: $black;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 15rem;
  cursor: pointer;
  @media (max-width: $media-s) {
    width: 100%;
  }
  &--smaller {
    width: 10rem;
    background-color: red;
  }
  //colors
  &--red {
    background-color: $red;
  }
  &--green {
    background-color: $green;
  }
  &--yellow {
    background-color: $orange;
  }
  &--purple {
    background-color: $dark-purple;
    color: white;
  }

  &--animate {
    &:active {
      animation: make-bigger 1s linear forwards;
    }
  }
}
