.tags-input-container {
  border: 2px solid $black;
  background-color: white;
  padding: 0.5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  .tag-item {
    background-color: $lightblue;
    display: inline-block;
    padding: 0.5em;
    border-radius: 2rem;
    .close {
      height: 2rem;
      width: 2rem;
      background-color: rgb(48, 48, 48);
      color: #fff;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.5em;
      font-size: 18px;
      cursor: pointer;
    }
    .text {
      padding: 0.5rem;
    }
  }
  .tags-input {
    flex-grow: 1;
    padding: 0.8rem 0;
    border: none;
    outline: none;
  }
}
