.main-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: $white;
  padding: 2rem;
  h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
  }
  img {
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
  }
}

.modal-container {
  display: flex;
  justify-content: center;

  .modal-instagram {
    position: absolute;
    background-color: $white;
    padding: 3rem;
    width: 75vw;
    height: 60vh;
    .input-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h4 {
        font-size: 2rem;
      }
      .modal-close {
        background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
        color: white;
        border-radius: 50%;
        padding: 1.5rem;
        border: none;
      }
    }

    .input-field {
      display: flex;
      flex-direction: column;
      padding: 2rem;

      label {
        font-size: 2rem;
        opacity: 0.5;
      }
      input {
        padding: 1.1rem;
        border-radius: 2rem;
      }
      &__btn {
        padding: 1rem;
        border-radius: 0.5rem;
        background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
        color: white;
        font-size: 1.2rem;
        border: none;
      }
    }
  }
}

.instagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;

  .create-post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white;
    width: 50rem;
    border-radius: 0.5rem;
    padding: 2rem;

    &__btn {
      padding: 1rem;
      border-radius: 0.5rem;
      background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
      color: white;
      font-size: 1.2rem;
      border: none;
    }
  }

  .picture-container {
    width: 40rem;
    height: 55rem;
    background-color: $white;
    text-align: center;
    border-radius: 0.5rem;
    margin: 3rem;
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 2rem;
      &__img {
        object-fit: cover;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
      }
      &__bin-img {
        height: 2rem;
        width: 2rem;
        cursor: pointer;
      }
    }
    &__article {
      img {
        width: 35rem;
        height: 40rem;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      &__img {
        cursor: pointer;
      }
    }
  }
}
