@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Lato&family=Lora&family=Open+Sans:wght@300&display=swap");
.container--light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  font-family: "Lato";
  .main {
    text-align: center;
    background-color: $white;
    position: relative;
    width: 40vw;
    height: 45vh;
    padding: 3rem;
    margin-top: 3rem;
    .img-box {
      position: absolute;
      border-radius: 50%;
      border: 1px dashed $dark-purple;
      width: 4.25rem;
      height: 4.25rem;
      padding: 1rem;
      img {
        width: 5.5rem;
        height: 5.5rem;
      }
      &--left {
        top: 0;
        left: 0;
      }
      &--right {
        bottom: 0;
        right: 0;
      }
    }
    .text-box {
      &__title {
        font-size: 5rem;
        font-weight: bold;
        line-height: 6.25rem;
      }
      &__content {
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: $grey;
      }
    }
  }
}
