//colors
$header-background: #f6f6f6;
$black: black;
$lightblue: lightblue;
$white: white;
$orange: orange;
$red: #c0392b;
$green: green;
$grey: rgb(95, 90, 90);
$blue: rgb(52, 52, 247);
$ruby: rgb(136, 67, 67);
$oker: #f9b601;

//media
$media-s: 28.75em;
$media-m: 48em;
$media-l: 62em;
$media-xl: 75em;
